{{form.media}}
<form
  hx-post="{% url 'hx_add_joblist' %}"
  hx-trigger="submit-all-forms from:#submit-all, submit"
  hx-swap="this"
>
  <div class="flex gap-4 m-4 w-full justify-between">
    <c-card padding="0" class="w-full">
      <div class="grid grid-cols gap-4 p-4 justify-around items-stretch md:grid-cols-3 ld:grid-cols-4">
        {{ form }}
      </div>
    </c-card>
    <div class="flex flex-col mr-4 items-center align-middle justify-center">
      <c-button.primary type="submit">
        Submit
      </c-button.primary>
      <c-button.outline hx-on:click="this.closest('form').remove()" type="button" color="red">
        Remove
      </c-button.outline>
    </div>
  </div>
</form>
