<!-- -->
{% load django_htmx %}
<!-- -->
{% load compress %}
<!-- -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VidyaVirtus</title>

    {% compress css %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'css/swal.css' %}" />

    <script src="{% static 'vendors/htmx.min.js' %}" defer></script>
    {% django_htmx_script %}
    <script src="{% static 'vendors/alpine.min.js' %}" defer></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "navbar.html" %}
    <!-- -->
    
    <main class="p-4">
      {% block content %}

      {% endblock content %}
    </main>
    <!-- -->

    <!-- -->
    {% include "includes/scripts.html" %}

    {% block custom_js %}
    {% endblock custom_js %}

    <script>
      document.body.addEventListener('message', function (evt) {
        let toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 5000,
          iconColor: 'white',
          customClass: {
            popup: 'colored-toast',
          },
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
          }
        });
        toast.fire({
          icon: evt.detail.type,
          title: evt.detail.message
        })
      });
    </script>

    {% block custom_modals %}
    <!-- -->
    {% endblock custom_modals %}

  </body>
</html>
