<!-- drawer component -->
<div {{ attrs }} class="fixed bottom-0 left-0 right-0 z-40 border-2 rounded-tr-2xl rounded-tl-2xl border-black w-full h-5/6 p-4 shadow-lg overflow-y-auto transition-transform bg-gray-50 dark:bg-gray-800 translate-y-full" tabindex="-1" aria-labelledby="{{ id }}">
  <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">
    <div class="bg-gray-50 flex justify-between items-center p-4 border-b">
      <h2 class="text-lg font-semibold">{{ header_title }}</h2>
      <button type="button" data-drawer-hide="{{ id }}" id="drawer_hide" class="text-gray-600 hover:text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-red-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </button>
    </div>
    {{ slot }}
  </div>
</div>
